.panel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-left: var(--size-sidebar-button);
  max-height: 100%;
  padding: 0 10px 10px;
  width: var(--size-sidebar-panel);
}

.title {
  flex-shrink: 0;
}

.body {
  flex-grow: 1;
  margin: 0;
  overflow: auto;
  padding-right: 4px; /* increase the distance from a scrollbar */
}
