.panel {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin-inline-start: var(--size-sidebar-button);
  max-height: 100%;
  padding: 0 10px 10px;
  width: var(--size-sidebar-panel);
}

.title {
  flex-shrink: 0;
}

.body {
  flex-grow: 1;
  margin: 0;
  overflow: auto;
  padding-inline-end: 4px; /* increase the distance from a scrollbar */
}

.formSlider {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.sheet {
  border: none;
  flex: 0 0 100%;
  margin: 0;
  min-width: 0;
  padding: 0;
  scroll-snap-align: start;
}
